
<!-- footer area start -->
<footer class="main-footer bgc-black-with-lighting pt-100 rel z-1">
    <div class="container">
        <div class="row justify-content-xl-between justify-content-between">
            <div class="col-xl-3 col-lg-5 col-sm-6">
                <div class="footer-widget widget_about wow fadeInUp delay-0-2s">
                    <div class="footer-logo mb-25">
                        <a asp-action="Index" asp-controller="Home"><img src="~/assets/images/logos/logocaspian1.png" alt="Logo"></a>
                    </div>
                    <p>Our hotel offers luxurious rooms, exceptional dining, a state-of-the-art fitness center, and a serene spa. Enjoy stunning beaches, a relaxing jacuzzi, a sparkling swimming pool, and convenient transportation services.</p>
                    <div class="social-style-one pt-10">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-4s">
                    <h4 class="footer-title">Quick Links</h4>
                    <ul class="list-style-one">
                        <li><a asp-action="Index" asp-controller="Rooms">Rooms</a></li>
                        <li><a asp-action="Index" asp-controller="Contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-4s">
                    <h4 class="footer-title">Features</h4>
                    <ul class="list-style-one">
                        <li><p>Free Transportation</p></li>
                        <li><p>GYM & Fitness Care</p></li>
                        <li><p>SPA Treatment</p></li>
                        <li><p>Food & Drinks</p></li>
                        <li><p>Breakfast</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom bgd-dark mt-40 pt-20 pb-5 rpt-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-text">
                        <p>© 2024 Caspian Horizon. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <ul class="footer-bottom-nav rpb-10">
                        <li><a href="about.html">Terms</a></li>
                        <li><a href="about.html">Privacy Policy</a></li>
                        <li><a href="faqs.html">FAQs</a></li>
                        <li><a href="about.html">Cookie Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
    <div class="wave-shapes"></div>
    <div class="wave-shapes-two"></div>
</footer>
<!-- footer area end -->
<!-- Scroll Top Button -->
<button class="scroll-top scroll-to-target" data-target="html"><span class="fas fa-angle-double-up"></span></button>

    </div>
<!--End pagewrapper-->
<!-- Jquery -->
<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<!-- Bootstrap -->
<script src="~/assets/js/bootstrap.min.js"></script>
<!-- Appear Js -->
<script src="~/assets/js/appear.min.js"></script>
<!-- Slick -->
<script src="~/assets/js/slick.min.js"></script>
<!-- Magnific Popup -->
<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Nice Select -->
<script src="~/assets/js/jquery.nice-select.min.js"></script>
<!-- Image Loader -->
<script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
<!-- Calendar -->
<script src="~/assets/js/calendar.global.min.js"></script>
<!-- Circle Progress -->
<script src="~/assets/js/circle-progress.min.js"></script>
<!-- Isotope -->
<script src="~/assets/js/isotope.pkgd.min.js"></script>
<!--  WOW Animation -->
<script src="~/assets/js/wow.min.js"></script>
<!-- Custom script -->
<script src="~/assets/js/script.js"></script>

