@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- CSS styles for styling the page -->
    <style>
        /* Container styling */
        .container {
            text-align: center;
            padding: 20px;
        }

        /* Specific link color in header */
        .main-header {
            color: black !important;
            background-color: #17171a !important;
        }

            .main-header a {
                color: white !important;
            }

            .main-header.active a {
                color: white !important;
            }

            .main-header.inactive a {
                color: black !important;
            }
        /* Heading styling */
        h2 {
            font-size: 2.5rem;
            color: #333;
            margin-top: 15%; /* 10% margin from the top */
            
        }

        /* Subtitle styling */
        p {
            font-size: 1.2rem;
            color: #666;
            margin-top: 20px;
            margin-bottom: 5%;
        }
    </style>
</head>
<body>
<h2>Forgot Password Confirmation</h2>
<p>A password reset link has been sent to your email address. Please check your email and follow the instructions to reset your password.</p>
</body>
</html>