@{
    ViewData["Title"] = "Registration Successful";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- CSS styles for styling the page -->
    <style>
        /* Container styling */
        .container {
            text-align: center;
            padding: 20px;
        }

        /* Specific link color in header */
        .main-header {
            color: black !important;
            background-color: #17171a !important;
        }

            .main-header a {
                color: white !important;
            }

            .main-header.active a {
                color: white !important;
            }

            .main-header.inactive a {
                color: black !important;
            }
        /* Heading styling */
        h1 {
            font-size: 2.5rem;
            color: #333;
            margin-top: 10%; /* 10% margin from the top */
        }

        /* Subtitle styling */
        p {
            font-size: 1.2rem;
            color: #666;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Registration Successful!</h1>
        <p>Please check your email to confirm your registration.</p>
    </div>
</body>

</html>
